/* Git Gutter Markers */

.git-gutter {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    pointer-events: none;
}

.gutter-marker {
    position: absolute;
    left: 4px;
    width: 2px;
    border-radius: 1px;
}

.gutter-marker--added {
    background: var(--gutter-added);
}

.gutter-marker--modified {
    background: var(--gutter-modified);
}

.gutter-marker--deleted {
    position: absolute;
    left: 2px;
    width: 8px;
    height: 3px;
    background: var(--gutter-deleted);
    border-radius: 1px;
}
